.container {
  flex: 5;
}

.title {
  margin: 50px 0px;
}

@media screen and (max-width: 640px) {
  .container h1 {
    font-size: 18px;
  }
  .title {
    margin: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
