.container {
  margin-top: 50px;
  padding: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--softTextColor);
}

.info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.logo {
  display: flex;
  align-content: center;
  gap: 10px;
}

.logoText {
  font-size: 24px;
}

.desc {
  font-weight: 300;
}

.icons {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.links {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  gap: 100px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 300;
}

.listTitle {
  font-weight: bold;
}

@media screen and (max-width: 1024px) {
  .links {
    gap: 50px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    gap: 50px;
  }

  .links {
    width: 100%;
    justify-content: space-between;
  }
}
@media screen and (max-width: 640px) {
  .container {
    margin-top: 100px;
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--softTextColor);
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; /* Menambahkan ini agar elemen dalam info menempel ke kiri */
    gap: 10px;
    width: 100%; /* Memastikan info mengambil seluruh lebar container */
    padding-left: 20px; /* Menambahkan padding kiri jika diperlukan */
  }

  .logo {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .logoImageContainer {
    display: flex;
    align-items: end;
    width: 50px;
    height: 50px;
  }

  .logoImage {
    border-radius: 50%;
    object-fit: cover;
  }

  .logoText {
    font-size: 24px; /* Sesuaikan ukuran font sesuai kebutuhan */
    font-weight: bold;
    margin: 0;
  }

  .logo {
    display: flex;
    align-content: center;
    gap: 10px;
  }

  .logoText {
    font-size: 24px;
  }

  .desc {
    font-weight: 100;
  }

  .icons {
    margin-top: 10px;
    display: flex;
    gap: 10px;
  }

  .links {
    font-size: 12px;
  }
}
